*
    margin: 0
    padding: 0

body
    background-image: url('../images/bg.jpg')
    background-attachment: fixed
    background-position: center center
    background-color: #fff
    background-repeat: no-repeat
    background-size: cover
    font: 14px 'microsoft yehei'
    font-weight: 300
